<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotterysystem.server.mapper.LotteryMapper">

    <resultMap id="BaseResultMap" type="com.lotterysystem.server.pojo.entity.Lottery">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="start_time" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="end_time" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="rule_config" column="rule_config" jdbcType="OTHER"/>
            <result property="is_active" column="is_active" jdbcType="TINYINT"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="created_by" column="created_by" jdbcType="INTEGER"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="unpdated_by" column="unpdated_by" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
