<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotterysystem.server.mapper.PrizeMapper">

    <resultMap id="BaseResultMap" type="com.lotterysystem.server.pojo.entity.Prize">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="lottery_id" column="lottery_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="full_count" column="full_count" jdbcType="INTEGER"/>
            <result property="now_count" column="now_count" jdbcType="INTEGER"/>
            <result property="is_end" column="is_end" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,lottery_id,name,
        full_count,now_count,is_end
    </sql>
</mapper>
