<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotterysystem.server.mapper.PrizeMapper">

    <resultMap id="BaseResultMap" type="com.lotterysystem.server.pojo.entity.Prize">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="lotteryId" column="lottery_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="fullCount" column="full_count" jdbcType="INTEGER"/>
            <result property="restCount" column="rest_count" jdbcType="INTEGER"/>
            <result property="isEnd" column="is_end" jdbcType="TINYINT"/>
    </resultMap>


</mapper>
